<div class="row">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <h1 *ngIf="selectedPlayer != null">{{selectedPlayer.full_name}} </h1>
      <h1 *ngIf="selectedPlayer == null">No Player Selected</h1>
      <button *ngIf="draftedSelected" type="button" class="btn btn-primary" (click)="undraftPlayer(selectedPlayer.player_id);"
              [disabled]="selectedPlayer == null">
        Undraft
        Player
      </button>
      <button *ngIf="!draftedSelected" type="button" class="btn btn-primary" (click)="draftPlayer(selectedPlayer.player_id);"
              [disabled]="selectedPlayer == null">
        Draft
        Player
      </button>
    </div>
  </div>
</div>
<div style="margin-top: 10px; margin-bottom: 10px"></div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <p-dataTable [value]="players" [resizableColumns]="true" selectionMode="single" [(selection)]="selectedPlayer">
      <p-column field="full_name" header="Name" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
      <p-column field="position" header="Position" [sortable]="true"></p-column>
      <p-column field="points" header="Points Last Year" [sortable]="true"></p-column>
      <p-column field="ppg" header="PPG" [sortable]="true"></p-column>
      <p-column field="comparable_players" header="Comparable Players" [sortable]="true"></p-column>
      <p-column field="three_year_average" header="3 year average" [sortable]="true"></p-column>
      <p-column field="five_year_average" header="5 year average" [sortable]="true"></p-column>
      <p-column field="percent_diff_top_25" header="% diff top 25" [sortable]="true"></p-column>
      <p-column field="percent_diff_top_25_three_year" header="% diff 3 year" [sortable]="true"></p-column>
      <p-column field="percent_diff_top_25_five_year" header="% diff 5 year" [sortable]="true"></p-column>
    </p-dataTable>
  </div>
</div>
